@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
        @apply px-6 py-2 cursor-pointer border border-[#242424] rounded-full 
        uppercase text-xs tracking-widest text-gray-500 
        transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40 
    }

    .contactInput {
        @apply outline-none bg-transparent rounded-sm border-b px-6 py-4 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
    }

    /* .loading-wrapper{
        @apply w-[25px] h-[25px]
    } */
    .loader{
        @apply box-border w-[100%] h-[100%] border-[5px] border-solid border-[#162534] border-t-red-500
        border-b-red-500 border-r-[50%] animate-waving-hand rounded-full animate-spin
    }

    .violet-gradient {
        background: #804dee;
        background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
        background: -webkit-linear-gradient(
          -90deg,
          #804dee 0%,
          rgba(60, 51, 80, 0) 100%
        );
      }
}